<!DOCTYPE html>
<html lang="en">

    <head>
        <title> DECIMAL CALCULATOR </title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div id="main-div">
                <p>
                    binary to decimal calculator
                </p>

                <form action="/find_decimal" method="POST" id="binary-submission">
                    <label for="binary"> Enter the binary</label>
                    <input name="binary" id="binary" class="input" type="number">

                    <button type="submit"> Get Decimal </button>
                </form>
                <p id="outoput-area"></p>
        </div>

    <!-- <script src="/static/js/index.js"></script> -->
    </body>
</html>