<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>binary CALCULATOR </title>
    <link rel="stylesheet" href="static/css/decimal_to_binary.css">
</head>
<body>
    <div>
        <form action="/find_binary" methiod="POST">
            <label for="binary"> Enter Your decimal </label>
            <input name="binary" id="binary">
            <button class="btn" type="submit"> Get binary </button>
        </form>
        <p id="rsponse-window"></p>
    </div>
</body>
</html>