<!DOCTYPE html>
<html lang="en">
    <head>
        <title> NUMBER SYSTEM </title>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <div id="main-div">
            <div class="box">
                <!-- <button class="btn" onclick="referToBinaryToDecimal()"> BINARY TOO DECIMAL </button> -->
            </div>
            <div class="box">
                <!-- <button class="btn" onclick="referToDecimalToBinary()"> DECIMAL TO BINARY </button> -->
            </div>
            <div class="box">
                <!-- <button class="btn" onclick="referToBinaryToDecimal()"> BINARY TOO DECIMAL </button> -->
            </div>
            <div class="box">
                <!-- <button class="btn" onclick="referToDecimalToBinary()"> DECIMAL TO BINARY </button> -->
            </div>
        </div>
        <script src="static/js/index.js"></script>
    </body>

</html>